* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #f0dcdc;
    color: #641212;
  }
  
  .container {
    width: 80%;
    margin: auto;
    padding: 20px;
  }
  